{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> <img src="{% static 'app/content/youtube.png' %}" alt="Logo 1"  width="100" height="100"/></a>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> <img src="{% static 'app/content/youtube.png' %}" alt="Logo 1"  width="100" height="100"/></a>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> <img src="{% static 'app/content/youtube.png' %}" alt="Logo 1"  width="100" height="100"/></a>

{% endblock %}
